[Unit]
Description=DevOps HTV Web App
After=network.target wg-quick@wg0.service

[Service]
WorkingDirectory=/opt/webapp
ExecStart=/usr/bin/node app.js
Restart=always
RestartSec=5
Environment=DB_PASSWORD={{ db_password }}

[Install]
WantedBy=multi-user.target
